body{
    background-color: gray;
    text-align: center;
}
table{
    border-collapse: collapse;
    width: 98%;
    background: white;
    border: none;
}
th{
    background: blue;
    color: white;
    padding: 10px;
}
td{
    padding: 10px;
}
.white-row{
    background: #ada8a8;
}
.dele{
    gap: 5px;
    text-align: center;
}
.view{
    background-color: green;
    border: none;
}
.update{
    background-color: yellow;
    border: none;
}
.delete{
    background-color: red;
    border: none;
}
